.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-black);
    color: var(--font-white);

    max-height: 650px;
    width: 340px;

    margin-top: 100px;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;

    border-radius: 2rem;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0) 68.46%, var(--color-card) 96.41%);
    box-shadow: inset 0px 5px 5px rgba(255, 255, 255, 0.1);

    animation: fadein 1s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infos h1 {
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
}

.role {
    color: var(--font-grey);
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.location {
    color: var(--font-grey);
    font-size: 1.25rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.location svg {
    margin-right: 5px;
    font-size: 1.5rem;
    color: #a80000;
}

.network {
    color: #FFF;
    font-size: 2.5rem;
}

.boxArticle {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 906px;
}

.boxArticle h1 {
    margin-bottom: 2rem;
}

.boxCardArticle {
    width: 100%;
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
    flex-direction: column;

    @media only screen and (min-width: 420px) {
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin-bottom: 2rem;
    }
}