.container {
    border: 1px solid #FFF;
    border-radius: 1rem;
    width: 340px;
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container div {
    margin-top: 0.5rem;
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}